.product-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    min-height: 100vh; /* Ensure it occupies enough vertical space */
    overflow-y: visible; /* Avoid blocking scrolling */
  }

  .product-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  } 
  
  div .product-item-button{
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }


  .product-item img {
    width: 100%;
    height: auto;
  }
  
  .product-item h3 {
    margin-top: 120px;
  }
  
  .product-item p {
    margin-bottom: 5px;
  }
  

  
  div .product-item-button[disabled] {
    background-color: #ddd;
    cursor: default;
  }